<p>Virtual Piano Common Language Key:</p><br/>
	<div class="span5">
		<table class="table table-striped table-bordered table-condensed">
			<tr>
				<td>Format</td>
				<td>Meaning</td>
			</tr>
			<tr>
				<td>asdf</td>
				<td>Play notes one after the other</td>
			</tr>
			<tr>
				<td>a s d f</td>
				<td>Play each note after a short pause </td>
			</tr>
			<tr>
				<td>[a s d f]</td>
				<td>Play the sequence at fast speed</td> 
			</tr>
			<tr>
				<td>[asdf]</td>
				<td>play notes together simultaneously</td>
			</tr>
			<tr>
				<td>asdf | asdf</td>
				<td>Play notes after a long pause</td>
			</tr>
		</table>
</div>
